[Unit]
After=network.target
Description=Beelay HTTP to MQTT Bridge

[Service]
Type=notify
ExecStart=beelay --syslog --sd-notify
Restart=always
WatchdogSec=20

[Install]
WantedBy=multi-user.target
