body 
{
    color: whitesmoke;
    background-color: black;
    font-family: monospace;
    font-size: large;
}

a
{
    color: whitesmoke;
    text-decoration: none;
}

a:hover 
{
    text-decoration: underline;
}
